@font-face {
    font-family: 'Hyperblob';
    src: url('Fonts/hyper-blob.otf') format('opentype'),
         url('Fonts/hyperblob.ttf') format('truetype');
}
@font-face {
    font-family: 'Hyperblob-outline';
    src: url('Fonts/hyperblob-outline.otf') format('opentype'),
         url('Fonts/hyperblob-outline.ttf') format('truetype');
}
@Font-face{
   font-family: 'Mosk';
    src: url('Fonts/MOSKOMAPPA-BF65a0f9f8c231e.otf') format('opentype');
}

body{
  font-family: 'Hyperblob', sans-serif
  color: yellow;
  font-size: 3em;
}
