<style>

@font-face {
    font-family: 'Hyperblob';
    src: url('Fonts/hyper-blob.otf') format('opentype'),
         url('Fonts/hyperblob.ttf') format('truetype');
}
@font-face {
    font-family: 'Hyperblob-outline';
    src: url('Fonts/hyperblob-outline.otf') format('opentype'),
         url('Fonts/hyperblob-outline.ttf') format('truetype');
}
@Font-face{
   font-family: 'Mosk';
    src: url('Fonts/MOSKOMAPPA-BF65a0f9f8c231e.otf') format('opentype');
}

body{
  font-family: 'Hyperblob', sans-serif
  color: yellow;
  width: 60%
  text-align: center:
  margin: auto;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #ccc;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 2px solid #FF5733;
    background-color: #040D12;
    height: 8vh; 
}

.option {
    flex: 1;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 2px solid #FF5733;
    background-color: #5C8374;
    height: 8vh;
}

.option.active {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 2px solid #FF5733;
    background-color: #183D3D;
    height: 8vh;
}
div.gallery img {
  width: 100%;
  height: auto;
}


* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
